/* ------------------- */
/*  Custom Properties  */
/* ------------------- */

:root {
  /* colours */
  --clr-primary-cyan: 167 36% 54%;
  --clr-primary-blue: 205 41% 21%;
  --clr-primary-grey: 245 10% 22%;

  --clr-secondary-light: 0 0% 98%;
  --clr-secondary-medium: 240 3% 61%;
  --clr-secondary-red: 0 90% 57%;

  /* font-sizes */
  --fs-300: 0.75rem;
  --fs-400: 0.938rem;
  --fs-500: 1rem;
  --fs-600: 2rem;
  --fs-700: 2.625rem;
  --fs-800: 3.125rem;

  /* font-families */
  --ff-serif: "Ibarra Real Nova", serif;
  --ff-sans: "Public Sans", sans-serif;
}

@media (min-width: 35rem) {
  :root {
    /* font-sizes */
    --fs-300: 0.75rem;
    --fs-400: 0.938rem;
    --fs-500: 1rem;
    --fs-600: 2rem;
    --fs-700: 2.625rem;
    --fs-800: 3.125rem;
  }
}

@media (min-width: 45rem) {
}

/* ------------------- */
/*        Reset        */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Reset box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset font-weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Reset body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-primary-grey));
  line-height: 1.7;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Reset images */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset animations for accessibility */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset links */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ------------------- */
/*    Utility Classes  */
/* ------------------- */

/* General  */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 3rem;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Colours */

.text-white {
  color: white;
}
.text-light {
  color: hsl(var(--clr-secondary-medium) / 0.6);
}
.text-medium {
  color: hsl(var(--clr-secondary-medium));
}
.text-dark {
  color: hsl(var(--clr-primary-grey));
}

.text-accent {
  color: hsl(var(--clr-primary-cyan));
}
.text-error {
  color: hsl(var(--clr-secondary-red));
}

.bg-light {
  background-color: hsl(var(--clr-secondary-light));
}
.bg-medium {
  background-color: hsl(var(--clr-secondary-medium) / 0.3);
}
.bg-dark {
  background-color: hsl(var(--clr-primary-blue));
}
.bg-accent {
  background-color: hsl(var(--clr-primary-cyan));
}
.bg-error {
  background-color: hsl(var(--clr-secondary-red));
}
.bg-dark-grey {
  background-color: hsl(var(--clr-primary-grey));
}

/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: -0.45px;
}
.letter-spacing-2 {
  letter-spacing: -0.36px;
}
.letter-spacing-3 {
  letter-spacing: -0.29px;
}
.letter-spacing-4 {
  letter-spacing: 5px;
}
.letter-spacing-5 {
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}

.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.lh-1 {
  line-height: 30px;
}

/* ------------------- */
/*      Components     */
/* ------------------- */

/* Buttons */
.btn {
  padding-block: 1em;
  border: none;
  font-weight: 400;
  margin-block: 1rem;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.primary-btn {
  transition: background-color 300ms ease-in-out;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.primary-btn img {
  padding-inline: 0.8em;
  transition: filter 300ms ease-in-out;
}

.primary-btn p {
  padding-inline: 1.4em;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: hsl(var(--clr-primary-cyan));
}

.primary-btn:hover img,
.primary-btn:focus img,
.primary-btn:active img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(500%)
    contrast(100%);
}

.secondary-btn {
  background-color: white;
  border: 0.5px solid hsl(var(--clr-primary-grey));
  padding-inline: 2.2em;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: hsl(var(--clr-primary-grey));
  color: white;
}

/* Form elements */
/* Text inputs */
.text-input {
  background-color: hsl(var(--clr-secondary-medium) / 0.2);
  outline: none;
  border: 1px solid hsl(var(--clr-secondary-medium) / 0.2);
  padding: 1em;
  width: 100%;
  resize: none;
  height: auto;
  transition: border-color 200ms ease-in-out;
  position: relative;
}

.text-input::placeholder {
  color: hsl(var(--clr-secondary-medium) / 0.7);
}

.text-input:hover,
.text-input:focus {
  cursor: pointer;
  border-color: hsl(var(--clr-primary-cyan));
}

/* Navigation */

.header {
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  min-width: 60px;
}

.navigation {
  --gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-indicators a {
  transition: color 300ms ease-in-out;
}

.navigation-indicators *:hover,
.navigation-indicators *:focus {
  color: hsl(var(--clr-primary-cyan) / 0.6);
}

.navigation-indicators .active {
  color: hsl(var(--clr-primary-cyan));
}

.primary-header {
  margin-block: 2rem;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --gap: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    inset: 0 0 60% 50%;
    background: hsl(var(--clr-primary-grey) / 0.8);
    padding: 5rem 3rem 4rem 3rem;
    transition: transform 500ms ease-in-out;
    transform: translateX(100%);
  }

  .primary-navigation a {
    color: white;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 3rem;
    top: 2.5rem;
    background: transparent;
    background-image: url(./images/icons/hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./images/icons/close.svg);
  }

  .mobile-nav-toggle:hover,
  .mobile-nav-toggle:focus {
    cursor: pointer;
  }

  .mobile-nav-toggle:focus-visible {
    outline: 1.5px solid lightgray;
    outline-offset: 5px;
    border-radius: 1px;
  }
}

.footer {
  background-color: hsl(var(--clr-primary-grey));
  padding-block: 1.5rem;
}

.secondary-header a {
  color: white;
}

.secondary-header img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(500%)
    contrast(100%);
}

.social-media-links img {
  transition: filter 300ms ease-in-out;
}

.social-media-links img:hover {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(300deg)
    brightness(200%) contrast(100%);
}

.social-media-links .logo {
  min-width: 24px;
}

/* Hero */
.hero-info {
  background-color: white;
  margin-bottom: 3rem;
}

.hero-info > h1 {
  margin-block: 1.8rem;
}

/* Article */
.article-content .image-container {
  padding-bottom: 2.5rem;
  border-bottom: 0.5px solid lightgray;
}

.article-info {
  padding-bottom: 2rem;
  border-bottom: 0.5px solid lightgray;
}

.article-title {
  padding-block: 2.5rem;
}

.article-text {
  margin-bottom: 1rem;
}

/* Contact me */
#contact-me-section {
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 4rem;
  align-items: center;
  text-align: center;
}
