/* ------------------- */
/*  Custom Properties  */
/* ------------------- */

:root {
  /* colours */
  --clr-primary-cyan: 167 36% 54%;
  --clr-primary-blue: 205 41% 21%;
  --clr-primary-grey: 245 10% 22%;

  --clr-secondary-light: 0 0% 98%;
  --clr-secondary-medium: 240 3% 61%;
  --clr-secondary-red: 0 90% 57%;

  /* font-sizes */
  --fs-400: 0.938rem;
  --fs-500: 1rem;
  --fs-600: 2rem;
  --fs-700: 2.625rem;
  --fs-800: 3.125rem;

  /* font-families */
  --ff-serif: "Ibarra Real Nova", serif;
  --ff-sans: "Public Sans", sans-serif;
}

/* ------------------- */
/*        Reset        */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Reset box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset font-weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Reset body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-primary-grey));
  line-height: 1.7;
  min-height: 100vh;
}

/* Reset images */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset animations for accessibility */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*    Utility Classes  */
/* ------------------- */

/* General  */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Colours */
.text-light {
  color: hsl(var(--clr-secondary-medium) / 0.6);
}
.text-medium {
  color: hsl(var(--clr-secondary-medium));
}
.text-dark {
  color: hsl(var(--clr-primary-grey));
}

.text-accent {
  color: hsl(var(--clr-primary-cyan));
}
.text-error {
  color: hsl(var(--clr-secondary-red));
}

.bg-light {
  background-color: hsl(var(--clr-secondary-light));
}
.bg-medium {
  background-color: hsl(var(--clr-secondary-medium) / 0.3);
}
.bg-dark {
  background-color: hsl(var(--clr-primary-blue));
}
.bg-accent {
  background-color: hsl(var(--clr-primary-cyan));
}
.bg-error {
  background-color: hsl(var(--clr-secondary-red));
}
.bg-dark-grey {
  background-color: hsl(var(--clr-primary-grey));
}

/* Typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: -0.45px;
}
.letter-spacing-2 {
  letter-spacing: -0.36px;
}
.letter-spacing-3 {
  letter-spacing: -0.29px;
}
.letter-spacing-4 {
  letter-spacing: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}

.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
